.editor.light {
    --editor-non-full-back-color: transparent;
    --editor-full-back-color: #f5f5f5;
    --editor-region-back-color: #fff;
    --editor-font-color: #050505;
    --editor-light-color: #333;
    --editor-hover-color: #4f92ff;
    --editor-border-color: #d5d5d5;
    --editor-scroll-color: #d5d5d5;

    --editor-tool-default-color: #777;
    --editor-tool-default-back-color: none;
    --editor-tool-hover-color: #444;
    --editor-tool-hover-back-color: #eee;
    --editor-tool-active-color: #fff;
    --editor-tool-active-back-color: #bcbcbc;

    --editor-tool-input-border-color: #e5e5e5;
    --editor-tool-input-back-color: #fff;

    --editor-context-menu-back-color: #f5f5f5;
    --editor-context-menu-border-color: #ccc;

    --editor-close-icon-default-color: #999;
    --editor-close-icon-default-back-color: none;
    --editor-close-icon-hover-color: #fff;
    --editor-close-icon-hover-back-color: red;
}

.editor.dark {
    --editor-non-full-back-color: #1c1c1c;
    --editor-full-back-color: #1c1c1c;
    --editor-region-back-color: #262626;
    --editor-font-color: #d5d5d5;
    --editor-light-color: #B3B3B3;
    --editor-hover-color: #4f92ff;
    --editor-border-color: #414141;
    --editor-scroll-color: #414141;

    --editor-tool-default-color: #B3B3B3;
    --editor-tool-default-back-color: none;
    --editor-tool-hover-color: #F5F5F5;
    --editor-tool-hover-back-color: #323232;
    --editor-tool-active-color: #F5F5F5;
    --editor-tool-active-back-color: #4f92ff;

    --editor-tool-input-border-color: #373737;
    --editor-tool-input-back-color: #2d2d2d;

    --editor-context-menu-back-color: #232323;
    --editor-context-menu-border-color: #3c3c3c;

    --editor-close-icon-default-color: #B3B3B3;
    --editor-close-icon-default-back-color: none;
    --editor-close-icon-hover-color: #F5F5F5;
    --editor-close-icon-hover-back-color: #ff4f4f;
}