@font-face {
    font-family: "consola";
    src: url('consola.ttf');
}

@font-face {
    font-family: "iconfont"; /* Project id  */
    src: url('iconfont.ttf?t=1673615946702') format('truetype');
}

.potmot-dark {
    --code-back-color: #474949;
    --code-font-color: #d5d5d5;

    --count-color: #888;

    --number-color: #c1ddee;
    --punctuation-color: #b1b1c1;
    --operator-color: #aaccff;
    --function-color: #99ccee;
    --keyword-color: #99aaff;
    --string-color: #bbcc99;
    --comment-color: #999;
    --variable-color: #ffcc33;
    --entity-color: #7799cc;
}

.potmot-light {
    --code-back-color: #f5f5f5;
    --code-font-color: #444;

    --count-color: #ccc;

    --number-color: #445566;
    --punctuation-color: #666677;
    --operator-color: #4d79ec;
    --function-color: #3aaee8;
    --keyword-color: #4d5bf5;
    --string-color: #bb46dc;
    --comment-color: #aaa;
    --variable-color: #b48e06;
    --entity-color: #466db6;
}

pre {
    padding: 0.5em 0;
}

pre.fold {
    max-height: 15em;
    overflow-y: hidden;
    overflow-x: hidden;
}

pre.show {
    overflow-y: visible;
    overflow-x: scroll;
}

code,
pre {
    font-family: consola, system-ui;
    color: var(--code-font-color);
    font-size: 1em;
    text-align: left;
    word-spacing: normal;

    -moz-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    overflow-wrap: break-word;
    word-break: break-all;
    word-wrap: anywhere;
}

/* Code blocks */
pre {
    background-color: var(--code-back-color);
    position: relative;
}

:not(pre) > code {
    background-color: #eee;
    color: var(--code-back-color);
    padding: 0.2em;
    border-radius: 0.2em;
}


pre > code {
    display: block;
    max-width: calc(100% - 3em);
    position: relative;
    left: 3em;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

pre,
code,
pre span {
    vertical-align: top;
    cursor: text;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    font-style: italic;
    color: var(--comment-color);
}

.token.operator {
    color: var(--operator-color);
}

.token.punctuation,
.token.interpolation-punctuation {
    color: var(--punctuation-color);
}

.token.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: var(--number-color);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.url,
.token.inserted {
    color: var(--string-color);
}

.token.entity {
    color: var(--entity-color);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: var(--keyword-color);
}

.token.function,
.token.class-name {
    color: var(--function-color);
}

.token.regex,
.token.important,
.token.variable {
    color: var(--variable-color);
}

.token.bold {
    font-weight: 600;
}

.token.italic {
    font-style: italic;
}

pre .count {
    counter-increment: line-number;
    position: absolute;
    left: 0;
    font-style: normal;
    font-weight: normal;
}

pre .count:before {
    content: counter(line-number);
    position: absolute;
    line-height: inherit;
    width: 2.5em;
    border-right: 1px solid var(--count-color);
    left: -3em;
    color: var(--count-color);
    text-align: center;
}

.code-copy-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: default;
    padding: 0;
    margin: 0;

    font-family: "iconfont", system-ui;
    font-size: 1em;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: inline-block;
    width: 2em;
}

.code-copy-button:before {
    content: "\e63d";

    font-size: 1.1em;
    padding: 0 0.4em;
    color: #aaa;
}

.code-copy-button:hover:before {
    color: #ccc;
}

.code-language {
    position: absolute;
    font-size: 1em;
    top: 0;
    right: 1.8em;
    color: #999;
    user-select: none;
    cursor: default;
}