@font-face {
    font-family: "consola";
    src: url('consola.ttf');
}

@font-face {
    font-family: "iconfont"; /* Project id  */
    src: url('iconfont.ttf?t=1673615946702') format('truetype');
}

code,
pre {
    font-family: consola, system-ui;
    color: var(--code-font-color);
    font-size: 1em;
    text-align: left;
    word-spacing: normal;

    -moz-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre,
code,
pre span {
    vertical-align: top;
    cursor: text;
}

/* code inline */
:not(pre) > code {
    background-color: #eee;
    color: var(--code-back-color);
    padding: 0.3em;
    border-radius: 3px;
}

/* code block */
.code-container {
    position: relative;
    background-color: var(--code-back-color);
    border-radius: 3px;
    overflow: hidden;
    padding-top: 0.5em;
}

.code-container.fold {
    max-height: 2em;
    overflow-y: hidden;
    overflow-x: hidden;
}

.code-container.show {
    overflow-y: visible;
    overflow-x: scroll;
}

.code-container > pre {
    overflow-x: auto;
    padding-bottom: 0.5em;
}

.code-container > pre > code {
    display: block;
}

.code-container > pre .line {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    padding-left: 0.5em;
    padding-right: 2em;
}

.code-container > pre .count {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    width: 3em;
    border-right: 1px solid var(--count-color);
    color: var(--count-color);
    text-align: center;
}

.code-copy-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: default;
    padding: 0;
    margin: 0;

    font-family: "iconfont", system-ui;
    font-size: 1em;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: inline-block;
    width: 2em;
}

.code-copy-button:before {
    content: "\e63d";
    font-size: 1.1em;
    padding: 0 0.4em;
    color: #aaa;
}

.code-copy-button:hover:before {
    color: #ccc;
}

.code-language {
    position: absolute;
    font-size: 1em;
    top: 0;
    right: 1.8em;
    color: #999;
    user-select: none;
    cursor: default;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    font-style: italic;
    color: var(--comment-color);
}

.token.operator {
    color: var(--operator-color);
}

.token.punctuation,
.token.interpolation-punctuation {
    color: var(--punctuation-color);
}

.token.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: var(--number-color);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.url,
.token.inserted {
    color: var(--string-color);
}

.token.entity {
    color: var(--entity-color);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: var(--keyword-color);
}

.token.function,
.token.class-name {
    color: var(--function-color);
}

.token.regex,
.token.important,
.token.variable {
    color: var(--variable-color);
}

.token.bold {
    font-weight: 600;
}

.token.italic {
    font-style: italic;
}