@font-face {
    font-family: "consola";
    src: url('consola.ttf');
}

@font-face {
    font-family: "iconfont"; /* Project id  */
    src: url('iconfont.ttf?t=1673615946702') format('truetype');
}

code,
pre {
    font-family: consola, system-ui;
    color: var(--code-font-color);
    font-size: 1em;
    text-align: left;
    word-spacing: normal;

    -moz-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre,
code,
pre span {
    vertical-align: top;
    cursor: text;
}

/* code block */
.code-container {
    position: relative;
    background-color: var(--code-back-color);
    overflow: hidden;
    padding-top: 0.8em;
    min-width: 10em;
}

.code-container.fold {
    max-height: 2em;
    overflow-y: hidden;
    overflow-x: hidden;
}

.code-container.show {
    overflow-y: visible;
    overflow-x: scroll;
}

.code-container > pre {
    overflow-x: auto;
    padding-bottom: 0.8em;
}

.code-container > pre > code {
    display: block;
}

.code-container > pre .code-line {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    padding-left: 0.5em;
    padding-right: 2em;
}

.code-container > pre .count {
    position: sticky;
    left: 0;

    display: inline-block;
    font-style: normal;
    font-weight: normal;
    width: 3em;
    border-right: 1px solid var(--count-color);
    color: var(--count-color);
    background-color: var(--code-back-color);
    text-align: center;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.code-copy-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 0;
    margin: 0;

    display: inline-block;
    width: 2em;
    height: 2em;
}

.code-copy-button:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    content: '';
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 80% 80%;

    background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%201024%201024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22%23ccc%22%3E%3Cpath%20d%3D%22M670.037333%20283.818667H206.677333c-28.330667%200-51.2%2022.869333-51.2%2051.2V836.266667c0%2028.330667%2022.869333%2051.2%2051.2%2051.2h463.530667c28.330667%200%2051.2-22.869333%2051.2-51.2V335.018667a51.370667%2051.370667%200%200%200-51.370667-51.2z%20m-17.066666%20535.381333H223.744V352.085333h429.397333V819.2z%22%2F%3E%3Cpath%20d%3D%22M794.965333%20119.466667H342.186667c-18.773333%200-34.133333%2015.36-34.133334%2034.133333s15.36%2034.133333%2034.133334%2034.133333h452.778666c12.458667%200%2022.528%2010.069333%2022.528%2022.528v509.269334c0%2018.773333%2015.36%2034.133333%2034.133334%2034.133333s34.133333-15.36%2034.133333-34.133333V210.261333C885.589333%20160.085333%20844.970667%20119.466667%20794.965333%20119.466667z%22%2F%3E%3C%2Fsvg%3E")
}

.code-copy-button:hover:before {
    background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%201024%201024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22%23d5d5d5%22%3E%3Cpath%20d%3D%22M670.037333%20283.818667H206.677333c-28.330667%200-51.2%2022.869333-51.2%2051.2V836.266667c0%2028.330667%2022.869333%2051.2%2051.2%2051.2h463.530667c28.330667%200%2051.2-22.869333%2051.2-51.2V335.018667a51.370667%2051.370667%200%200%200-51.370667-51.2z%20m-17.066666%20535.381333H223.744V352.085333h429.397333V819.2z%22%2F%3E%3Cpath%20d%3D%22M794.965333%20119.466667H342.186667c-18.773333%200-34.133333%2015.36-34.133334%2034.133333s15.36%2034.133333%2034.133334%2034.133333h452.778666c12.458667%200%2022.528%2010.069333%2022.528%2022.528v509.269334c0%2018.773333%2015.36%2034.133333%2034.133334%2034.133333s34.133333-15.36%2034.133333-34.133333V210.261333C885.589333%20160.085333%20844.970667%20119.466667%20794.965333%20119.466667z%22%2F%3E%3C%2Fsvg%3E")
}

.code-language {
    position: absolute;
    font-size: 1em;
    top: 0;
    right: 1.8em;
    color: #999;
    cursor: default;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    font-style: italic;
    color: var(--comment-color);
}

.token.operator {
    color: var(--operator-color);
}

.token.punctuation,
.token.interpolation-punctuation {
    color: var(--punctuation-color);
}

.token.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: var(--number-color);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.url,
.token.inserted {
    color: var(--string-color);
}

.token.entity {
    color: var(--entity-color);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: var(--keyword-color);
}

.token.function,
.token.class-name {
    color: var(--function-color);
}

.token.regex,
.token.important,
.token.variable {
    color: var(--variable-color);
}

.token.bold {
    font-weight: 600;
}

.token.italic {
    font-style: italic;
}