.markdown-card {
    --light-border-color: #bbb;
    --border-color: #999;
    --deep-border-color: #555;

    --deep-back-color: #eee;
    --light-back-color: #f5f5f5;
    --lightter-back-color: #fefefe;

    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
    word-break: break-word;
}

.markdown-card * {
    box-sizing: border-box;
    margin: 0;
}

.markdown-card h1,
.markdown-card h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.markdown-card h1 {
    font-size: 2em;
    line-height: 1.2em;
}

.markdown-card h2 {
    font-size: 1.5em;
    line-height: 1.2em;
}

.markdown-card h3,
.markdown-card h4 {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.markdown-card h3 {
    font-size: 1.17em;
}

.markdown-card h4 {
    font-size: 1em;
}

.markdown-card h5,
.markdown-card h6 {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.markdown-card h5 {
    font-size: 0.83em;
}

.markdown-card h6 {
    font-size: 0.67em;
}

.markdown-card hr {
    margin-top: 1em;
    margin-bottom: 1em;
    border-color: var(--border-color);
}

.markdown-card * + h1,
.markdown-card * + h2 {
    margin-top: 0.2em;
}

.markdown-card h1 > hr,
.markdown-card h2 > hr {
    margin-top: 0.3em;
    margin-bottom: 0;
    border-color: var(--light-border-color);
}

.markdown-card ul,
.markdown-card ol {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-inline-start: 1.5em;
}

.markdown-card ol ol,
.markdown-card ol ul,
.markdown-card ul ol,
.markdown-card ul ul {
    margin-top: 0;
    margin-bottom: 0;
}

.markdown-card blockquote {
    border-left: 0.4em solid var(--border-color);
    background-color: var(--light-back-color);
    padding: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #333;
}

.markdown-card blockquote + blockquote {
    margin-top: 1em;
}

:not(pre) > code {
    background-color: #eee;
    color: #474949;
    padding: 0.3em;
    border-radius: 3px;
}

.markdown-card .code-container {
    margin: 0.5em 0;
    border-radius: 3px;
}

.markdown-card table {
    margin: 0.5em 0;
    border-collapse: collapse;
    max-width: 100%;
    border: 1px solid var(--border-color);
}

.markdown-card thead,
.markdown-card tbody tr:nth-child(even) {
    background-color: var(--light-back-color);
}

.markdown-card tbody tr:nth-child(odd) {
    background-color: var(--lightter-back-color);
}

.markdown-card th,
.markdown-card td {
    border: 1px solid var(--light-border-color);
    min-width: 3em;
    max-width: 100%;
    padding: 0.5em;
    word-break: break-word;
}

.markdown-card td:hover {
    outline: var(--deep-border-color) 1px solid;
}

.markdown-card a {
    text-decoration: none;
}

.markdown-card p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.markdown-card p + p {
    margin-top: 1em;
}

.markdown-card li > p {
    margin-top: 0;
    margin-bottom: 0;
}

.markdown-card img,
.markdown-card svg,
.markdown-card video {
    max-width: 100%;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.markdown-card img:hover,
.markdown-card svg:hover,
.markdown-card video:hover {
    outline: 2px solid var(--deep-border-color);
}

.markdown-card img + br,
.markdown-card svg + br,
.markdown-card video + br {
    display: none;
}

.markdown-card img:hover {
    cursor: zoom-in;
}

.markdown-card img.error {
    width: 3em;
    height: 3em;
    overflow: hidden;
    position: relative;
    cursor: default;
}

.markdown-card img.error::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    content: '';
    background-color: var(--lightter-back-color);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%201024%201024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22%23d5d5d5%22%3E%3Cpath%20d%3D%22M544%2064l-128%20251.552%20116.304%20263.328L544%20960H64a64%2064%200%200%201-64-64V128a64%2064%200%200%201%2064-64h480zM362.88%20314.08L465.712%20112H64a16%2016%200%200%200-15.888%2014.128L48%20128v768a16%2016%200%200%200%2014.128%2015.888L64%20912h430.496l-9.888-322.272-121.728-275.632z%22%2F%3E%3Cpath%20d%3D%22M246.56%20250.448a75.872%2075.872%200%201%201%200%20151.728%2075.872%2075.872%200%200%201%200-151.728z%20m100.448%20509.008l-42.288-42.288L481.584%20533.92l43.04%2039.296-177.6%20186.24zM130.352%20614.304l160.96-160.912%20111.712%20111.712-42.304%2042.368-69.408-69.408-118.672%20118.592-42.288-42.352z%22%2F%3E%3Cpath%20d%3D%22M640%2064l-128%20251.552%20107.696%20263.328L640%20960h320a64%2064%200%200%200%2064-64V128a64%2064%200%200%200-64-64H640z%20m-75.248%20253.728L669.44%20112H960a16%2016%200%200%201%2015.888%2014.128L976%20128v768a16%2016%200%200%201-14.128%2015.888L960%20912H685.52L667.2%20568.224l-102.448-250.496z%22%2F%3E%3Cpath%20d%3D%22M614.56%20492.032l-42.304-42.288%20107.936-108.128%20205.664%20205.664-42.304%2042.304-163.36-163.296z%22%2F%3E%0A%3C%2Fsvg%3E")
}