.markdown-card {
    --border-color: #999;
    --deep-back-color: #eee;
    --light-back-color: #f8f8f8;
    --hover-border-color: #333;

    margin: 0;
}

.markdown-card * {
    box-sizing: border-box;
    margin: 0;
}

.markdown-card h1, h2, h3, h4 {
    padding: 0.2em 0;
}

.markdown-card blockquote {
    border-left: 0.4em solid var(--border-color);
    background-color: var(--light-back-color);
    padding: 0.5em;
    font-style: italic;
    color: #333;
}

.markdown-card pre {
    padding: 0.5em 0;
    margin: 0.5em 0;
}

.markdown-card table {
    border-collapse: collapse;
    width: 100%;
    padding: 0.2em 0;
    border: 1px solid var(--border-color);
}

.markdown-card thead,
.markdown-card tbody tr:nth-child(even) {
    background-color: var(--light-back-color);
}

.markdown-card th,
.markdown-card td {
    border: 1px solid #ddd;
    min-width: 3em;
    max-width: 100%;
    padding: 0.5em;
}

.markdown-card td:hover {
    outline: var(--hover-border-color) 1px solid;
}

.markdown-card img,
.markdown-card svg,
.markdown-card video {
    max-width: 100%;
    display: block;
    border: rgba(0, 0, 0, 0) 2px solid;
}

.markdown-card img:hover,
.markdown-card svg:hover,
.markdown-card video:hover {
    border-color: var(--hover-border-color);
}