.markdown-body,
.light.markdown-body,
.light .markdown-body {
    --hr-color: #ddd;

    --code-inline-color: #333;
    --code-inline-back-color: #e5e5e5;

    --quote-tip-color: #67C23A;
    --quote-tip-title-color: #53ae26;
    --quote-tip-back-color: rgba(103, 194, 58, 0.2);
    --quote-warning-color: #E6A23C;
    --quote-warning-title-color: #d28e28;
    --quote-warning-back-color: rgba(230, 162, 60, 0.2);
    --quote-danger-color: #F56C6C;
    --quote-danger-title-color: #f54e4e;
    --quote-danger-back-color: rgba(245, 108, 108, 0.2);
    --quote-info-color: #909399;
    --quote-info-title-color: #6e6e78;
    --quote-info-back-color: rgba(144, 147, 153, 0.2);

    --table-border-color: #a5a5a5;
    --table-cell-border-color: #a5a5a5;
    --table-cell-hover-border-color: #696969;
    --table-odd-back-color: #fefefe;
    --table-even-back-color: #f5f5f5;

    --image-border-color: #696969;
    --image-back-color: #fefefe;

    --link-color: #2360bb;
    --link-hover-color: #5399f8;
    --link-visited-color: #290467;
    --link-visited-hover-color: #4007a2;
}

.dark.markdown-body,
.dark .markdown-body {
    --hr-color: #aaa;
    --code-inline-color: #eee;
    --code-inline-back-color: #333;

    --quote-tip-color: #4e8e2f;
    --quote-tip-title-color: #4e8e2f;
    --quote-tip-back-color: rgba(78, 142, 47, 0.2);
    --quote-warning-color: #a77730;
    --quote-warning-title-color: #a77730;
    --quote-warning-back-color: rgba(167, 119, 48, 0.2);
    --quote-danger-color: #b25252;
    --quote-danger-title-color: #b25252;
    --quote-danger-back-color: rgba(178, 82, 82, 0.2);
    --quote-info-color: #6b6d71;
    --quote-info-title-color: #6b6d71;
    --quote-info-back-color: rgba(107, 109, 113, 0.2);

    --table-border-color: #787878;
    --table-cell-border-color: #787878;
    --table-cell-hover-border-color: #878787;
    --table-odd-back-color: #2d2d2d;
    --table-even-back-color: #232323;

    --image-border-color: #878787;
    --image-back-color: #2d2d2d;

    --link-color: #466ed2;
    --link-hover-color: #64a0ff;
    --link-visited-color: #8c64d2;
    --link-visited-hover-color: #b48ceb;
}