.markdown-body,
.light.markdown-body,
.light .markdown-body {
    --light-border-color: #b9b9b9;
    --border-color: #a5a5a5;
    --deep-border-color: #696969;

    --deep-back-color: #eee;
    --light-back-color: #f5f5f5;
    --lightter-back-color: #fefefe;

    --link-color: #2360bb;
    --link-hover-color: #5399f8;
    --link-visited-color: #290467;
    --link-visited-hover-color: #4007a2;
}

.dark.markdown-body,
.dark .markdown-body {
    --light-border-color: #696969;
    --border-color: #787878;
    --deep-border-color: #878787;

    --deep-back-color: #373737;
    --light-back-color: #2d2d2d;
    --lightter-back-color: #232323;

    --link-color: #466ed2;
    --link-hover-color: #64a0ff;
    --link-visited-color: #8c64d2;
    --link-visited-hover-color: #b48ceb;
}