.markdown-body,
.light.markdown-body,
.light .markdown-body {
    --hr-color: #ddd;

    --code-inline-color: #000;
    --code-inline-back-color: #e5e5e5;

    --quote-border-color: #b9b9b9;
    --quote-back-color: #f5f5f5;

    --table-border-color: #a5a5a5;
    --table-cell-border-color: #a5a5a5;
    --table-cell-hover-border-color: #696969;
    --table-odd-back-color: #fefefe;
    --table-even-back-color: #f5f5f5;

    --image-border-color: #696969;
    --image-back-color: #fefefe;

    --link-color: #2360bb;
    --link-hover-color: #5399f8;
    --link-visited-color: #290467;
    --link-visited-hover-color: #4007a2;
}

.dark.markdown-body,
.dark .markdown-body {
    --hr-color: #aaa;

    --code-inline-color: #e5e5e5;
    --code-inline-back-color: #333;

    --quote-border-color: #696969;
    --quote-back-color: #373737;

    --table-border-color: #787878;
    --table-cell-border-color: #787878;
    --table-cell-hover-border-color: #878787;
    --table-odd-back-color: #2d2d2d;
    --table-even-back-color: #232323;

    --image-border-color: #878787;
    --image-back-color: #2d2d2d;

    --link-color: #466ed2;
    --link-hover-color: #64a0ff;
    --link-visited-color: #8c64d2;
    --link-visited-hover-color: #b48ceb;
}