.code-container {
    --code-back-color: #f5f5f5;
    --code-font-color: #444;

    --count-color: #ccc;

    --number-color: #445566;
    --punctuation-color: #666677;
    --operator-color: #4d79ec;
    --function-color: #3aaee8;
    --keyword-color: #4d5bf5;
    --string-color: #bb46dc;
    --comment-color: #aaa;
    --variable-color: #b48e06;
    --entity-color: #466db6;
}