.code-container {
    --code-back-color: #f5f5f5;
    --code-font-color: #444;

    --code-count-color: #ccc;

    --code-number-color: #445566;
    --code-punctuation-color: #666677;
    --code-operator-color: #4d79ec;
    --code-function-color: #3aaee8;
    --code-keyword-color: #4d5bf5;
    --code-string-color: #bb46dc;
    --code-comment-color: #aaa;
    --code-variable-color: #b48e06;
    --code-entity-color: #466db6;
}