.markdown-body {
    box-sizing: border-box;
    margin: 0;
    word-break: break-word;
    background-color: var(--back-color);
    color: var(--text-color);
}

.markdown-body * {
    box-sizing: border-box;
    margin: 0;
}

.markdown-body h1,
.markdown-body h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.5em;
}

.markdown-body h1 {
    font-size: 2em;
}

.markdown-body h2 {
    font-size: 1.5em;
}

.markdown-body h3,
.markdown-body h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.5em;
}

.markdown-body h3 {
    font-size: 1.17em;
}

.markdown-body h4 {
    font-size: 1em;
}

.markdown-body h5,
.markdown-body h6 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.5em;
}

.markdown-body h5 {
    font-size: 0.83em;
}

.markdown-body h6 {
    font-size: 0.67em;
}

.markdown-body hr {
    margin-top: 1em;
    margin-bottom: 1em;
    border-color: var(--hr-color);
}

.markdown-body * + h1,
.markdown-body * + h2 {
    margin-top: 0.2em;
}

.markdown-body ul,
.markdown-body ol {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-inline-start: 1.5em;
}

.markdown-body ol ol,
.markdown-body ol ul,
.markdown-body ul ol,
.markdown-body ul ul {
    margin-top: 0;
    margin-bottom: 0;
}

.markdown-body ol ol,
.markdown-body ul ol {
    list-style-type: lower-roman;
}

.markdown-body ol ol ol,
.markdown-body ol ul ol,
.markdown-body ul ol ol,
.markdown-body ul ul ol {
    list-style-type: lower-alpha;
}


.markdown-body .task-list-item {
    list-style: none;
    position: relative;
}

.markdown-body .task-list-item-checkbox {
    position: absolute;
    left: -1.4em;
    top: 0.6em;
}

.markdown-body blockquote,
.markdown-body details {
    padding: 0.8em 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 3px;
}

.markdown-body blockquote > .title,
.markdown-body details > summary {
    padding: 0;
    margin: 0;
    font-weight: 600;
}

.markdown-body blockquote {
    border-left: 0.4em solid;
}

.markdown-body blockquote + blockquote {
    margin-top: 1em;
}

.markdown-body blockquote.tip {
    border-color: var(--quote-tip-color);
    background-color: var(--quote-tip-back-color);
    color: var(--quote-tip-text-color)
}

.markdown-body blockquote.tip > .title {
    color: var(--quote-tip-title-color);
}

.markdown-body blockquote.warning {
    border-color: var(--quote-warning-color);
    background-color: var(--quote-warning-back-color);
    color: var(--quote-warning-text-color)
}

.markdown-body blockquote.warning > .title {
    color: var(--quote-warning-title-color);
}

.markdown-body blockquote.danger {
    border-color: var(--quote-danger-color);
    background-color: var(--quote-danger-back-color);
    color: var(--quote-danger-text-color)
}

.markdown-body blockquote.danger > .title {
    color: var(--quote-danger-title-color);
}

.markdown-body blockquote,
.markdown-body blockquote.info {
    border-color: var(--quote-info-color);
    background-color: var(--quote-info-back-color);
    color: var(--quote-info-text-color)
}

.markdown-body blockquote.info > .title {
    color: var(--quote-info-title-color);
}

.markdown-body details {
    background-color: var(--quote-info-back-color);
}

.markdown-body summary {
    outline: none;
}

.markdown-body :not(pre) > code {
    padding: 0.2em;
    border-radius: 3px;
    color: var(--code-inline-color);
    background-color: var(--code-inline-back-color);
    vertical-align: center;
}

.markdown-body pre {
    margin: 0.5em 0;
    border-radius: 3px;
}

.markdown-body table {
    border-collapse: collapse;
    margin: 0.5em 0;
    border: 1px solid var(--table-border-color);
}

.markdown-body th,
.markdown-body td {
    border: 1px solid var(--table-cell-border-color);
    min-width: 2em;
    padding: 0.5em;
    word-break: break-word;
}

.markdown-body th:hover,
.markdown-body td:hover {
    outline: var(--table-cell-hover-border-color) 1px solid;
    outline-offset: -1px;
}

.markdown-body thead > tr:nth-child(even),
.markdown-body tbody > tr:nth-child(odd) {
    background-color: var(--table-odd-back-color);
}

.markdown-body thead > tr:nth-child(odd),
.markdown-body tbody > tr:nth-child(even) {
    background-color: var(--table-even-back-color);
}

.markdown-body a {
    color: var(--link-color);
    text-decoration: none;
}

.markdown-body a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

.markdown-body a:visited {
    color: var(--link-visited-color);
}

.markdown-body a:visited:hover {
    color: var(--link-visited-hover-color);
}

.markdown-body p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.markdown-body p + p {
    margin-top: 1em;
}

.markdown-body li > p {
    margin-top: 0;
    margin-bottom: 0;
}

.markdown-body img,
.markdown-body video {
    max-width: 100%;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.markdown-body img:hover {
    outline: 2px solid var(--image-border-color);
    background-color: var(--image-back-color);
}

.markdown-body img + br {
    display: none;
}

.markdown-body img:hover {
    cursor: zoom-in;
}

.markdown-body img.error {
    width: 3em;
    height: 3em;
    overflow: hidden;
    position: relative;
    cursor: not-allowed;
}

.markdown-body img.error::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    content: '';
    background-color: var(--image-back-color);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%201024%201024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22%23d5d5d5%22%3E%3Cpath%20d%3D%22M544%2064l-128%20251.552%20116.304%20263.328L544%20960H64a64%2064%200%200%201-64-64V128a64%2064%200%200%201%2064-64h480zM362.88%20314.08L465.712%20112H64a16%2016%200%200%200-15.888%2014.128L48%20128v768a16%2016%200%200%200%2014.128%2015.888L64%20912h430.496l-9.888-322.272-121.728-275.632z%22%2F%3E%3Cpath%20d%3D%22M246.56%20250.448a75.872%2075.872%200%201%201%200%20151.728%2075.872%2075.872%200%200%201%200-151.728z%20m100.448%20509.008l-42.288-42.288L481.584%20533.92l43.04%2039.296-177.6%20186.24zM130.352%20614.304l160.96-160.912%20111.712%20111.712-42.304%2042.368-69.408-69.408-118.672%20118.592-42.288-42.352z%22%2F%3E%3Cpath%20d%3D%22M640%2064l-128%20251.552%20107.696%20263.328L640%20960h320a64%2064%200%200%200%2064-64V128a64%2064%200%200%200-64-64H640z%20m-75.248%20253.728L669.44%20112H960a16%2016%200%200%201%2015.888%2014.128L976%20128v768a16%2016%200%200%201-14.128%2015.888L960%20912H685.52L667.2%20568.224l-102.448-250.496z%22%2F%3E%3Cpath%20d%3D%22M614.56%20492.032l-42.304-42.288%20107.936-108.128%20205.664%20205.664-42.304%2042.304-163.36-163.296z%22%2F%3E%0A%3C%2Fsvg%3E");
}

.markdown-body sub,
.markdown-body sup {
    line-height: 0;
}

.markdown-body pre.error {
    white-space: pre-line;
    border: 1px solid red;
    padding: 5px;
}

.markdown-body .code-details > details {
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.markdown-body .code-details > details > summary {
    font-size: 0.8em;
    font-weight: 400;
}

.markdown-body .katex {
    max-width: 100%;
    overflow-x: auto;
}

.markdown-body .mermaid {
    margin: 0.5em;
}

.markdown-body .mermaid > svg div {
    line-height: 1.15em;
}

.markdown-body .mermaid > svg:hover {
    outline: 2px solid var(--image-border-color);
}

.markdown-body .tabs {
    display: flex;
    flex-wrap: wrap;
    padding: 6px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.markdown-body .tabs > .title {
    order: -3;
    width: 100%;
    font-weight: 600;
}

.markdown-body .tabs > .tab-item-label {
    order: -2;
    padding: 0.5em;
    margin-right: 0.5em;
    border-radius: 3px 3px 0 0;
}

.markdown-body .tabs > .tab-item-label:hover {
    background-color: var(--tab-hover-color);
}

.markdown-body .tabs > .tab-item-content {
    display: none;
    order: -1;
    width: 100%;
}

.markdown-body .tabs > .tab-item-radio {
    display: none;
}

.markdown-body .tabs > .tab-item-radio + .tab-item-label {
    line-height: 2em;
}

.markdown-body .tabs > .tab-item-radio:checked + .tab-item-label {
    border-radius: 3px 3px 0 0;
    border-bottom: 2px solid var(--tab-active-color);
}

.markdown-body .tabs > .tab-item-radio:checked + .tab-item-label + .tab-item-content {
    display: block;
}

.markdown-body .hide-text,
.markdown-body .hide-text *,
.markdown-body .hide-text a:visited {
    color: var(--hide-color);
    background-color: var(--hide-color);
}

.markdown-body .hide-text:hover,
.markdown-body .hide-text:hover *,
.markdown-body .hide-text:hover a:visited{
    transition: 0.5s;
    color: var(--hide-hover-color);
}

.markdown-body .hide-text:hover a:hover {
    color: var(--hide-link-hover-color);
}