.markdown-body {
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
    word-break: break-word;
}

.markdown-body * {
    box-sizing: border-box;
    margin: 0;
}

.markdown-body h1,
.markdown-body h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.markdown-body h1 {
    font-size: 2em;
    line-height: 1.4em;
}

.markdown-body h2 {
    font-size: 1.5em;
    line-height: 1.4em;
}

.markdown-body h3,
.markdown-body h4 {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.markdown-body h3 {
    font-size: 1.17em;
}

.markdown-body h4 {
    font-size: 1em;
}

.markdown-body h5,
.markdown-body h6 {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.markdown-body h5 {
    font-size: 0.83em;
}

.markdown-body h6 {
    font-size: 0.67em;
}

.markdown-body hr {
    margin-top: 1em;
    margin-bottom: 1em;
    border-color: var(--border-color);
}

.markdown-body * + h1,
.markdown-body * + h2 {
    margin-top: 0.2em;
}

.markdown-body h1 > hr,
.markdown-body h2 > hr {
    margin-top: 0.3em;
    margin-bottom: 0;
    border-color: var(--light-back-color);
}

.markdown-body ul,
.markdown-body ol {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-inline-start: 1.5em;
}

.markdown-body ol ol,
.markdown-body ol ul,
.markdown-body ul ol,
.markdown-body ul ul {
    margin-top: 0;
    margin-bottom: 0;
}

.markdown-body blockquote {
    border-left: 0.4em solid var(--border-color);
    background-color: var(--light-back-color);
    padding: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.markdown-body blockquote + blockquote {
    margin-top: 1em;
}

.markdown-body :not(pre) > code {
    padding: 0.2em;
    border-radius: 3px;
}

.markdown-body pre {
    margin: 0.5em 0;
    border-radius: 3px;
}

.markdown-body table {
    border-collapse: collapse;
    margin: 0.5em 0;
    max-width: 100%;
    border: 1px solid var(--border-color);
}

.markdown-body thead > tr,
.markdown-body tbody > tr:nth-child(even) {
    background-color: var(--light-back-color);
}

.markdown-body tbody > tr:nth-child(odd) {
    background-color: var(--lightter-back-color);
}

.markdown-body th,
.markdown-body td {
    border: 1px solid var(--light-border-color);
    min-width: 5em;
    padding: 0.5em;
    word-break: break-word;
}

.markdown-body th:hover,
.markdown-body td:hover {
    outline: var(--deep-border-color) 1px solid;
    outline-offset: -1px;
}

.markdown-body a {
    color: var(--link-color);
    text-decoration: none;
}

.markdown-body a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

.markdown-body a:visited {
    color: var(--link-visited-color);
}

.markdown-body a:visited:hover {
    color: var(--link-visited-hover-color);
}

.markdown-body p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.markdown-body p + p {
    margin-top: 1em;
}

.markdown-body li > p {
    margin-top: 0;
    margin-bottom: 0;
}

.markdown-body img,
.markdown-body svg,
.markdown-body video {
    max-width: 100%;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.markdown-body img:hover,
.markdown-body svg:hover,
.markdown-body video:hover {
    outline: 2px solid var(--deep-border-color);
}

.markdown-body img + br,
.markdown-body svg + br,
.markdown-body video + br {
    display: none;
}

.markdown-body img:hover,
.markdown-body svg:hover {
    cursor: zoom-in;
}

.markdown-body img.error {
    width: 3em;
    height: 3em;
    overflow: hidden;
    position: relative;
    cursor: default;
}

.markdown-body img.error::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    content: '';
    background-color: var(--lightter-back-color);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%201024%201024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22%23d5d5d5%22%3E%3Cpath%20d%3D%22M544%2064l-128%20251.552%20116.304%20263.328L544%20960H64a64%2064%200%200%201-64-64V128a64%2064%200%200%201%2064-64h480zM362.88%20314.08L465.712%20112H64a16%2016%200%200%200-15.888%2014.128L48%20128v768a16%2016%200%200%200%2014.128%2015.888L64%20912h430.496l-9.888-322.272-121.728-275.632z%22%2F%3E%3Cpath%20d%3D%22M246.56%20250.448a75.872%2075.872%200%201%201%200%20151.728%2075.872%2075.872%200%200%201%200-151.728z%20m100.448%20509.008l-42.288-42.288L481.584%20533.92l43.04%2039.296-177.6%20186.24zM130.352%20614.304l160.96-160.912%20111.712%20111.712-42.304%2042.368-69.408-69.408-118.672%20118.592-42.288-42.352z%22%2F%3E%3Cpath%20d%3D%22M640%2064l-128%20251.552%20107.696%20263.328L640%20960h320a64%2064%200%200%200%2064-64V128a64%2064%200%200%200-64-64H640z%20m-75.248%20253.728L669.44%20112H960a16%2016%200%200%201%2015.888%2014.128L976%20128v768a16%2016%200%200%201-14.128%2015.888L960%20912H685.52L667.2%20568.224l-102.448-250.496z%22%2F%3E%3Cpath%20d%3D%22M614.56%20492.032l-42.304-42.288%20107.936-108.128%20205.664%20205.664-42.304%2042.304-163.36-163.296z%22%2F%3E%0A%3C%2Fsvg%3E")
}